spring:
  application:
    name: "extrato"
  datasource:
    driverClassName: org.postgresql.Driver
    password: password
    url: jdbc:postgresql://localhost:5432/extrato
    username: keycloak
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  data:
    rest:
      max-page-size: 50

  kafka:
    consumer:
      auto-offset-reset: latest
      group-id: transacoes-consumer
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
    topic: transacoes
    bootstrap-servers: ${KAFKA_HOST:localhost:9092}